body{font-family: arial,sans-serif;}
.structure {font-weight: 400;
font-size: 13px; line-height: 18px;color:#515076 ;}
p{font-weight: 400;
font-size: 13px; line-height: 18px;color:#515076 ;}
b{font-size: 20px; 
font-weight: 700;font-size: 20px;line-height: 24px;}
h1 {font-weight: 400;
font-size: 70px;line-height: 78px;}
.for_normal_skin{font-weight: 400;font-size: 12px; line-height: 24px;}
.price{font-weight: 400;
font-size: 20px;line-height: 24px;}
h2{font-weight: 700;font-size: 20px;line-height: 27px;}