body {
  font-family: monsterrat,sans-serif;
  background: url('background.png');
  background-position: center;
}

.structure {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

b {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  color: #515076;
}

.for_normal_skin {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
}

.price {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

img {
  width: 100%;
  max-width: 250px;
  height: auto;
}
b{color: #515076;}

.price_flex{
  display: flex;
  justify-content: space-between;
  width: 161px;
}


